<!DOCTYPE html>
<html lang="en" class="h-full">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>In Search of Stuff</title>
        <link rel="stylesheet" href="/styles/tailwind.css" />
    </head>
    <body class="flex flex-col h-full">
        {% include components/header.html %}

        <div class="px-5 md:px-20 flex flex-1 flex-col items-center">
            {{ content | safe }}
        </div>

        {% include components/footer.html %}

        <script
            data-goatcounter="https://in-search-of-stuff.goatcounter.com/count"
            async
            src="//gc.zgo.at/count.js"
        ></script>
    </body>
</html>
