<header id="header" class="header bg-blue-800 flex flex-col md:flex-row md:justify-between items-center p-4 md:p-6">
    <a class="text-4xl font-sans font-hairline tracking-widest italic lowercase hover:text-white" href="/" title="home">
        In Search of Stuff
    </a>
    {% for p in site.pages%}
        {% capture pUrl %}/{{p}}/{% endcapture %}
        <a class="hover:text-white active:text-white {% if page.url == pUrl %}active text-white{% endif %}" href="/{{p}}">{{p}}</a>
    {% endfor %}
</header>
